<!-- Visualise RadarIQ Point Cloud data. Requires radariq_pointcloud.launch -->
<launch>
  <include file="$(find radariq_ros)/launch/radariq_pointcloud.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find radariq_ros)/rviz/radariq_pointcloud.rviz" />
  <param name="robot_description" textfile="$(find radariq_ros)/rviz/radariq_sensor.urdf" />
</launch>
